---
const navItems = [
  {
    label: "About",
    color: "#F1FA43",
  },
  {
    label: "Portfolio",
    color: "#FF7DB8",
  },
  {
    label: "Services",
    color: "#3DBFAF",
  },
  {
    label: "Contact",
    color: "#EC291C",
  },
];
---

<header aria-label="Site Header" class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-48 items-center justify-between">
      <div class="mr-18 flex-1 basis-80 md:flex md:items-center">
        <a class="block text-teal-600" href="/">
          <span class="sr-only">Home</span>
          <img src="/logo.png" />
        </a>
      </div>

      <div class="flex-auto md:items-center md:gap-12 md:gap-24">
        <nav aria-label="Site Nav" class="hidden md:block">
          <ul
            class="font-base flex justify-between gap-8 font-bold uppercase md:text-[2.3vw] lg:text-2xl"
          >
            {
              navItems.map((item) => (
                <li>
                  <a
                    class={`text-black transition hover:bg-[${item.color}] p-1`}
                    href={"/" + item.label.toLowerCase()}
                  >
                    {item.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>

        <div class="flex items-center justify-end">
          <div class="relative block md:hidden" x-data="{ isActive: false }">
            <button
              class="s:p-3 rounded bg-black p-2 text-gray-600 transition hover:text-gray-600/75"
              x-on:click="isActive = !isActive"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="white"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
            <div
              class="absolute end-0 z-20 mt-4 w-48 rounded-md border border-gray-100 bg-white shadow-lg"
              role="menu"
              x-cloak
              x-transition
              x-show="isActive"
              x-on:click.away="isActive = false"
              x-on:keydown.escape.window="isActive = false"
            >
              <div class="p-2">
                {
                  navItems.map((item) => (
                    <a
                      class="text-md font-base block rounded-lg px-4 py-2 text-right font-bold uppercase text-black hover:bg-gray-50"
                      href={"/" + item.label.toLowerCase()}
                      role="menuitem"
                    >
                      {item.label}
                    </a>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<style is:global lang="scss">
  $backgrounds: \#F1FA43, \#FF7DB8, \#3DBFAF, \#EC291C;

  @each $background in $backgrounds {
    .hover\:bg-\[#{$background}\]:hover {
      background-color: str-slice(#{$background}, 2);
    }
  }
</style>
